In [1]:
#@title Install requirements
%%capture
!git clone https://github.com/skabbit/vehicle_parser
%cd vehicle_parser/config
!unzip stable.zip
%cd ..
!pip install -r requirements.txt

In [2]:
#@title Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')
print('Google Drive connected.')

Mounted at /content/drive
Google Drive connected.

In [3]:
#@title Run vehicle parser (CSV with "marka" field)

input_file = "/content/drive/MyDrive/car_test.csv" #@param {type:"string"}
output_file = "/content/drive/MyDrive/vehicles_parsed.csv" #@param {type:"string"}

from corrector import CarBrandCorrector, CarBrand
corrector = CarBrandCorrector("./config/stable", split_text=False)

In [4]:
CarBrand.objects.get(id=1742).name

'2107'

In [5]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

df = pd.read_csv(input_file)
df['carbrand_id'] = df.progress_apply(lambda row: corrector.detect_model(row['marka']), axis=1)
df['carbrand_name'] = df.progress_apply(lambda row: str(CarBrand.objects.get(row['carbrand_id'])), axis=1)

df.to_csv(output_file)

df.head()

100%|██████████| 334/334 [00:51<00:00,  6.45it/s]
100%|██████████| 334/334 [00:00<00:00, 47452.66it/s]

,row_id,vin,marka,carbrand_id,carbrand_name
0,1015121,SАLVА2ВD2ЕН890338,ЛЕНД РОВЕР РЕЙНДЖ РОВЕР ЕVОQUЕ,NaN,None
1,1018833,УV1DZ7056В2221150,ВОЛЬВО ХС60,1711.0,Volvo S60
2,1028304,У3WS47КJ1FВ001231,КАДИЛЛАК ЭСКАЛАДЕ К2ХХ,NaN,None
3,1028661,WDС2539461V039136,МЕРСЕДЕС-БЕНЦ GLС 250 4 МАТIС,NaN,None
4,1048144,Z8UА0В1SSВ0001402,ССАНГ ЕНГ АКШЕН,NaN,None